html{

background-image: url(https://raw.githubusercontent.com/VanessaGVilla/final6/main/bats.gif);

background-repeat: repeat;

}

body{

margin:0;

font-family: sans-serif;

max-width: 900px;

background-color: white;

border-style: solid;

margin-left: auto;

margin-right:auto;

box-shadow: 10px 5px 5px 10px;

}

header img{

float:left;

}

/* style for nav */

nav{

margin-top:20px;

float: left;

width:160px;

clear: both;

height:700px;

padding: 5px;

}

main{

padding:20px;

padding-left:30px;

margin-top:-20px;

}

.h1::first-letter{

font-size: 200%;

}

.img{

vertical-align: middle;

display: block;

height:200px;

width: 200px;

}

header{

vertical-align: middle;

margin:0;

padding: 1px;

border-bottom: 2px solid;

background: linear-gradient(45deg, white, orange, black);

}

header > h1{

padding-left: 80px;

margin-bottom:0;

margin-left:30px;

}

header>h3{

margin-top:0;

padding-left: 80px;

margin-left:30px;

}

a:link,a:visited{

color: orange;

}

a:hover,a:focus{

color: green;

}

li{

margin:0;

padding: .4em;

}

footer{

margin-top:-10px;

height: 50px;

font-size: 16px;

border-top: 2px solid;

background: linear-gradient(45deg, black, orange, white);

}

footer>p{

text-align: center;

}
